body {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  background-color: #0c0c0d;
  background: url(background.JPG);
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(19, 19, 19, 0.97);
}
.disclaimer {
  position: absolute;
  top: 100px;
  left: 100px;
  height: 450px;
}

.welcome__greeting {
  font-weight: 300;
  line-height: 0.2;
}

.welcome__name {
  font-weight: 400;
}

.welcome__occupation {
  color: #cf291d;
  font-weight: 300;
  font-size: 22px;
  line-height: 0;
}

.cell,
.main {
  position: absolute;
  box-sizing: border-box;
  transform: rotate(-34deg);
}

.cell {
  color: #cf291d;
  transition: border-width 0.25s linear;
  border: 1px solid #bfbfbf;
}

.cell:hover {
  background-color: #131313;
  color: #cf291d;
  cursor: pointer;
  border: 10px solid #bfbfbf !important;
}

.blog,
.contacts,
.portfolio,
.resume {
  height: 399px;
  width: 432px;
}

.main {
  border: 1px solid #bfbfbf;
  border-right-width: 0;
  height: 700px;
  width: 700px;
  transform-origin: 39% 95%;
  color: #bfbfbf;
}

.main .inner {
  flex-direction: column;
}

.portfolio,
.resume {
  transform-origin: -4% -125%;
  border-bottom-width: 0;
}

.portfolio {
  transform-origin: 147% -175%;
}

.blog {
  transform-origin: 298% -225%;
}

.contacts {
  transform-origin: 184% -381%;
  border-left-width: 0;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(34deg);
  width: 100%;
  height: 100%;
  transition: color 0.25s linear;
}

.resume h2 {
  margin-top: 250px;
}

.contacts h2 {
  margin-right: 150px;
}

.blog h2 {
  margin-bottom: 50px;
}

.cell h2 {
  font-weight: 400;
}

.content {
  display: none;
}

@keyframes expand {
  from {
    transform: rotate(-34deg);
  }
  to {
    transform: rotate(0deg);
    transform-origin: 0% 0%;
    z-index: 99;
    background-color: #131313;
    border-width: 0 !important;
    height: 100%;
    width: 100%;
  }
}
@keyframes showContent {
  from {
    color: #131313;
  }
  80% {
    color: #131313;
  }
  to {
    color: #bfbfbf;
  }
}

.expand {
  animation: scale 1s forwards;
  animation-name: expand;
  animation-duration: 1s;
  border-width: 0 !important;
}
.expand:hover {
  border-width: 0 !important;
  cursor: auto;
}

.expand .inner {
  transform: rotate(0deg);
  display: block;
  overflow: auto;
}

.expand .content {
  animation-timing-function: ease-out;
  animation: scale 1s forwards;
  animation-name: showContent;
  animation-duration: 1s;
  display: block;
}

.expand h2 {
  margin: 0;
}
