body {
  margin: 0;
  background-color: #0c0c0d;
  color: #fff;
  overflow: hidden;
}

.cell,
.main {
  position: absolute;
  box-sizing: border-box;
  transform: rotate(-34deg);
}

.cell {
  transition: border-width 0.25s linear;
  border: 1px solid #4a4a4f;
}

.cell:hover {
  cursor: pointer;
  border: 10px solid #4a4a4f !important;
}

.blog,
.contacts,
.portfolio,
.resume {
  height: 399px;
  width: 432px;
  background: rgba(255, 255, 255, 0.1);
}

.main {
  background: rgba(255, 255, 255, 0.1);
  border-right-width: 0;
  height: 700px;
  width: 700px;
  transform-origin: 39% 95%;
}

.resume {
  transform-origin: -4% -125%;
  border-bottom-width: 0;
}

.portfolio {
  border-bottom-width: 0;
  transform-origin: 147% -175%;
}

.blog {
  transform-origin: 298% -225%;
}

.contacts {
  transform-origin: 184% -381%;
  border-left-width: 0;
}
