.SkillsBody {
  margin-left: 8px;
}

.skills-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(96px, 1fr));
  gap: 12px;
}

@media only screen and (min-width: 700px) {
  .SkillsBody {
    grid-area: 1/2/3/3;
  }
}
